.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background: rgb(250, 250, 250);
  .poke-cards {
    display: block;
    width: 27%;
    margin: 10px;
    text-align: center;
    padding: 0;
    mat-card-header.poke-cards-header {
      display: block;
      a {
        text-decoration: none;
      }
    }
    img.poke-preview {
      width: 100px;
      margin-top: 25px;
    }
    button {
      cursor: pointer;
    }
    mat-card-footer {
      height: 5vh;
      margin: 10px 0px 0px 0px;
      padding-top: 20px;
      background: #d23f34;
      border-radius: 0px 0px 5px 5px;
      color: white;
      cursor: pointer;
    }
  }
}
